body {
    margin: 0;
    padding: 0;
    background-color: #267871;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main-game {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red'
        'yellow blue';
    cursor: pointer;
    grid-gap: 10px;
    /* border: 1px solid #fff; */
    background-color: #fff;
    border-radius: 100%;
    margin-top: 2%;
    width: 400px;
    height: 400px;
}

.blue {
    grid-area: blue;
    /*blue == grid-template-areas blue*/
    background-color: #136a8a;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: red;
    background-color: #f12711;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: yellow;
    background-color: #f7ff00;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: green;
    background-color: #0f9b0f;
    border-top-left-radius: 100%;
}

.footer-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    text-align: center;
    background-image: linear-gradient(#3E5151, #DECBA4);
}

.footer-container p {
    margin-bottom: -5px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.selected {
    animation: highLight 2s;
}

@keyframes highLight {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}